.carouselArrowImage {
    background-color: grey;
    cursor: pointer;
    max-height: 7.5%;
    opacity: 0;
    padding: 10px;
    position: absolute;
    transition: opacity 0.3s ease;
  }

.carouselContainer {
    align-items: center;
    display: flex;
    height: max-content;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.carouselContainer .carouselArrowImage:hover {
    opacity: 1 !important;
}

.carouselContainer:hover .carouselArrowImage {
    opacity: 0.3;
}

.carouselImage {
    max-height: 100%;
    max-width: 100%;
}

.carouselLeftArrowImage {
    left: 0;
}

.carouselRightArrowImage {
    right: 0;
}

.Navigation-Child {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.Navigation-Child-Item {
    text-align: center;
    width: inherit;
}

.Navigation-Child-Item a {
    color: inherit;
    display: inline-block;
    padding: 7px 0;
    text-decoration: none;
    width: 100%;
}

.Navigation-Child-Item-active {
    background-color: black;
    border-radius: 15px;
    color: white;
    font-weight: bold;
}

.Navigation-Child-Item-active:hover {
    background-color: red;
    color: white;
}

.Navigation-Container {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: calc(100vh - 30px);
    justify-content: center;
    position: sticky;
    top: 0;
}

.Navigation-Item-Container {
    background-color: rgb(219, 219, 219);
    border-radius: 15px;
    display: flex;
    font-size: 17px;
    font-weight: bold;
    justify-content: space-evenly;
    text-transform: uppercase;
    width: 60%;
}

.Navigation-KPText {
    min-width: 50px;
    width: 20%;
}

.Navigation-PortfolioText {
    padding-bottom: 15px;
    padding-top: 15px;
    width: 40%;
}

/* ---------- View Ports ----------*/
/* Burger nav */
@media screen and (max-width: 900px) {
    .Navigation-Container {
        flex-direction: row;
        height: fit-content;
        padding: 10px 7px 10px 5px;
        position: relative;
    }

    .Navigation-Child-1 {
        flex: 1;
    }

    .Navigation-Child-3 {
        flex: 4;
    }

    .Navigation-Item-Container {
        align-items: center;
        font-size: 16px;
        height: 40px;
        margin: 0 !important;
        width: 100% !important;
    }

    .Navigation-Child-Hidden {
        visibility: hidden;
        position: absolute;
    }
}